spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

  application:
    name: api-gateway

  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin

      # Global CORS configuration
      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:3000"   # FRONTEND URL
            allowedMethods:
              - GET
              - POST
              - PUT
              - PATCH
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "*"
            allowCredentials: true

      # Gateway routes
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/auth/**
          filters:
            - name: Retry
              args:
                retries: 4
                methods: POST,GET
                statuses: SERVICE_UNAVAILABLE
                backoff:
                  firstBackoff: 250ms
                  maxBackoff: 2s
                  factor: 2
                  basedOnPreviousValue: false

        - id: task-service
          uri: lb://task-service
          predicates:
            - Path=/tasks/**

        - id: comment-service
          uri: lb://comment-service
          predicates:
            - Path=/api/comments/**

        - id: notification-service
          uri: lb://notification-service
          predicates:
            - Path=/notifications/**
          filters:
            - PreserveHostHeader

        - id: notification-ws
          uri: lb://notification-service
          predicates:
            - Path=/ws/**
          filters:
            - PreserveHostHeader

        - id: task-ws
          uri: lb://task-service
          predicates:
            - Path=/ws/**
          filters:
            - PreserveHostHeader

        - id: project-service
          uri: lb://project-service
          predicates:
            - Path=/projects/**

        - id: team-service
          uri: lb://team-service
          predicates:
            - Path=/api/teams/**

      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    registry-fetch-interval-seconds: 5
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
