spring:
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://77.37.47.79:3000"

eureka:
  client:
    service-url:
      defaultZone: http://eureka:8761/eureka/
